<html>
<head>
    <title>OAuth login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>
        function showVerificationCodeInput() {
            const verificationCodeInput = document.getElementById("verification-code");
            verificationCodeInput.hidden = false;
            verificationCodeInput.disabled = false;
        }
    </script>
</head>
<body>
<div>
    <h1>Login</h1>
    <form method="POST" id="form"
        action="login?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&state={{ state }}&response_type=code">
        <input type="email" autocomplete="email" name="email" placeholder="Email" required />
        <br />
        <input type="text" disabled hidden name="verification-code" id="verification-code"
            placeholder="Verification code received from E-Mail." />
        <br />
        <input type="submit"/>
    </form>
    <a href="javascript:showVerificationCodeInput()">Already have verification code?</a>
</div>
</body>
</html>
