menu "Houseflow configuration"

    config BROKER_URI
        string "Broker URL"
        default ""
        help
            URL of an mqtt broker which this example connects to.

    config DEVICE_UID
        string "Device UID"
        default ""
        help
            UID of the device, must match with this one in database

    config DEVICE_SECRET
        string "Device SECRET"
        default ""
        help
            Secret of the device, must match with this one in database

endmenu
